<div class="col-md-12 mt-3">
	<h1>{{page_title}}</h1>

	<p *ngIf="!is_edit">
		añade una nueva entrada al post
	</p>
	<p *ngIf="is_edit">
		Edita la  entrada al post
	</p>
	<div class="alert alert-success col-md-5" *ngIf="status=='success'">
		Los datos se han guardado correctamente !!
	</div>
	<div class="alert alert-danger col-md-5" *ngIf="status=='error'">
		Los datos no se han guardado!!
	</div>
	
	<form class="col-md-5 ml-0 pl-0" #filmForm="ngForm" (ngSubmit)="onSubmit(filmForm)">
		<div class="form-group">
	 	 <label for="title">titulo</label>
	    <input type="text" name="title"  class="form-control" #title="ngModel"  [(ngModel)]="film.title"  required pattern="[a-zA-Z]+">
	    
	    <small *ngIf="!title.valid && title.touched" class="invalid-feedback d-block">
	    	El titulo no es valido
	    </small>
	
	  </div>

	  <div class="form-group">
	    <label for="content">Contenido</label>
	    <textarea name="content" class="form-control"  [(ngModel)]="film.content" required></textarea>
	  </div>
	
	<div class="form-group">
			<label for="category">Categoria</label>
			<select name="category_id" #category="ngModel" [(ngModel)]="film.category_id" class="form-control">
				<option *ngFor="let category of categories" 
					value="{{category.id}}">
					{{category.name}}
				</option>
			</select>
		</div>

	  <div class="form-group">
			<label for="image">imagen</label>
			<!--<div *ngIf="film && film.image" >
				<img src="{{url + '/film/image_film/'+film.image}}" class="avatar_edit">
			</div>-->
			<angular-file-uploader
      			[config]="afuConfig"
      			(ApiResponse)="imageUpload($event)">
			</angular-file-uploader>
		</div>
		
		<input type="submit" value="Enviar" class="btn btn-success" [disabled]="filmForm.invalid"/>
	</form>

</div>
