<div class="card-columns">
	<article class="card w-100" *ngFor="let film of films">
		
		<div class="card-header">
			<h3>
				<a [routerLink]="['/entrada', film.id]">{{film.title}}</a>
			</h3>
		</div>

		<div class="card-body">
			<!--imagen-->
			<div class="film-image w-100" *ngIf="film.image">
				<img src="{{ url + 'film/image/' + film.image }}" class="w-100" />
			</div>

			<div class="film-image w-100" *ngIf="!film.image">
				<img src="assets/images/default.jpg" class="w-100" />
			</div>


			<!--botones de acción-->
			<div class="film-buttons mt-3">
				<a [routerLink]="['/entrada', film.id]" class="btn btn-success mr-2">Leer</a>

				<span *ngIf="identity && identity.sub == film.user_id">
					<a [routerLink]="['/editar-entrada', film.id]" class="btn btn-warning mr-2">Editar</a>
					
					<!-- Button to Open the Modal -->
					<button type="button" class="btn btn-danger" data-toggle="modal" [attr.data-target]="'#myModal'+film.id">
					  Borrar
					</button>

					<!-- The Modal -->
					<div class="modal" id="{{ 'myModal'+film.id }}">
					  <div class="modal-dialog">
					    <div class="modal-content">

					      <!-- Modal Header -->
					      <div class="modal-header">
					        <h4 class="modal-title">¿Seguro que quieres borrar esta entrada?</h4>
					        <button type="button" class="close" data-dismiss="modal">&times;</button>
					      </div>

					      <!-- Modal body -->
					      <div class="modal-body">
					        Vas a borrar definitivamente {{film.title}}
					      </div>

					      <!-- Modal footer -->
					      <div class="modal-footer">
					      	<a (click)="deletePost(film.id)" class="btn btn-danger"data-dismiss="modal">Borrar</a>
					        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
					      </div>

					    </div>
					  </div>
					</div>

				</span>
			</div>
		</div>
	
	</article>
</div>